# Daily資料比較

## 比較當天EC資料： 拋出 vs DB

In [1]:
import pandas as pd 


def compare_data(date, DBdata_af, Dailydata_af, DBdata_navy, Dailydata_navy):
    ## 空軍比較
    ECDBtest_af = pd.read_csv(DBdata_af)
    ECdaily_af = pd.read_csv(Dailydata_af)
    print('比對', date,'DB與Daily資料：\n')
    print('空軍DB資料筆數：', ECDBtest_af.shape[0], '，去重複筆數：', ECDBtest_af.drop_duplicates().shape[0])
    print('空軍Daily資料筆數：', ECdaily_af.shape[0], '，去重複筆數：', ECdaily_af.drop_duplicates().shape[0])
    InterSectEC_af = set(ECDBtest_af['訂單編號']) & set(ECdaily_af['訂單編號'])
    #print('空軍訂單差異：', set(ECDBtest_af['訂單編號'])-InterSectEC_af, set(ECdaily_af['訂單編號'])-InterSectEC_af)
    if ECDBtest_af.drop_duplicates().shape[0] > ECdaily_af.drop_duplicates().shape[0]:
        print('空軍DB筆數較多，相差訂單：', set(ECDBtest_af['訂單編號']) - InterSectEC_af)
        display(ECDBtest_af[ECDBtest_af['訂單編號'].isin(set(ECDBtest_af['訂單編號']) - InterSectEC_af)][['訂單編號', '會員編號', '商品上架名稱', '品項狀態']])
        
    elif ECDBtest_af.drop_duplicates().shape[0] < ECdaily_af.drop_duplicates().shape[0]:
        print('空軍DB筆數較少，相差訂單：', set(ECdaily_af['訂單編號']) - InterSectEC_af)
        display(ECdaily_af[ECdaily_af['訂單編號'].isin(set(ECdaily_af['訂單編號']) - InterSectEC_af)][['訂單編號', '會員編號', '商品上架名稱', '品項狀態']])
        
    else:
        print('空軍DB與Daily筆數相同。')
        
    
    merge_data_af = pd.merge(ECDBtest_af, ECdaily_af,on=['訂單編號', '物料編碼', '訂單項次', '單件項次'], how="outer")
    if len(set(merge_data_af[-(merge_data_af['品項狀態_x']==merge_data_af['品項狀態_y'])]['訂單編號'])) != 0:
        print('空軍品項狀態不同資料：', set(merge_data_af[-(merge_data_af['品項狀態_x']==merge_data_af['品項狀態_y'])]['訂單編號']))
        display(merge_data_af[-(merge_data_af['品項狀態_x']==merge_data_af['品項狀態_y'])][['訂單編號', '會員編號_x', '商品上架名稱_x','訂單項次', '單件項次', '品項狀態_x', '品項狀態_y']])
    else:
        print('空軍品項狀態皆相同。\n')
    
    ## 海軍比較
    ECDBtest_navy = pd.read_csv(DBdata_navy)
    ECdaily_navy = pd.read_csv(Dailydata_navy)
    
    print('海軍DB資料筆數：', ECDBtest_navy.shape[0], '，去重複筆數：', ECDBtest_navy.drop_duplicates().shape[0])
    print('海軍Daily資料筆數：', ECdaily_navy.shape[0], '，去重複筆數：', ECdaily_navy.drop_duplicates().shape[0])
    InterSectEC_navy = set(ECDBtest_navy['訂單編號']) & set(ECdaily_navy['訂單編號'])
    #print('海軍訂單差異：', set(ECDBtest_navy['訂單編號'])-InterSectEC_navy, set(ECdaily_navy['訂單編號'])-InterSectEC_navy)
    if ECDBtest_navy.drop_duplicates().shape[0] > ECdaily_navy.drop_duplicates().shape[0]:
        print('海軍DB筆數較多，相差訂單：', set(ECDBtest_navy['訂單編號']) - InterSectEC_navy)
        display(ECDBtest_navy[ECDBtest_navy['訂單編號'].isin(set(ECDBtest_navy['訂單編號']) - InterSectEC_navy)][['訂單編號', '會員編號', '商品上架名稱', '品項狀態']])
        
    elif ECDBtest_navy.drop_duplicates().shape[0] < ECdaily_navy.drop_duplicates().shape[0]:
        print('海軍DB筆數較少，相差訂單：', set(ECdaily_navy['訂單編號']) - InterSectEC_navy)
        display(ECdaily_navy[ECdaily_navy['訂單編號'].isin(set(ECdaily_navy['訂單編號']) - InterSectEC_navy)][['訂單編號', '會員編號', '商品上架名稱', '品項狀態']])
        
    else:
        print('海軍DB與Daily筆數相同。')
        
       
    merge_data_navy = pd.merge(ECDBtest_navy, ECdaily_navy,on=['訂單編號', '物料編碼', '訂單項次', '單件項次'], how="outer")
    if len(set(merge_data_navy[-(merge_data_navy['品項狀態_x']==merge_data_navy['品項狀態_y'])]['訂單編號'])) != 0:
        print('海軍品項狀態不同資料：', set(merge_data_navy[-(merge_data_navy['品項狀態_x']==merge_data_navy['品項狀態_y'])]['訂單編號'])) 
        display(merge_data_navy[-(merge_data_navy['品項狀態_x']==merge_data_navy['品項狀態_y'])][['訂單編號', '會員編號_x', '商品上架名稱_x','訂單項次', '單件項次', '品項狀態_x', '品項狀態_y']])
    else:
        print('海軍品項狀態皆相同。')

### 2021-10-29

In [2]:
compare_data('10/29', '../../../每日比對/ECSalse211029test_af.csv', '../../ECData_1101029/ECSaleData20211029_airforce.txt'\
             , '../../../每日比對/ECSalse211029test_navy.csv', '../../ECData_1101029/ECSaleData20211029_navy.txt')

比對 10/29 DB與Daily資料：

空軍DB資料筆數： 2392 ，去重複筆數： 2392
空軍Daily資料筆數： 2385 ，去重複筆數： 2385
空軍DB筆數較多，相差訂單： {'AC1211029000000'}

                 訂單編號       會員編號        商品上架名稱 品項狀態
2227  AC1211029000000  F10174337     空軍半包覆戰術手套  已下訂
2228  AC1211029000000  F10174337     空軍天藍兩截式雨衣  已下訂
2229  AC1211029000000  F10174337      空軍羊毛防縮手套  已下訂
2230  AC1211029000000  F10174337      空軍羊毛防縮手套  已下訂
2231  AC1211029000000  F10174337      空軍羊毛防縮手套  已下訂
2232  AC1211029000000  F10174337  空軍男性運動長褲(新式)  已下訂
2233  AC1211029000000  F10174337  空軍男性運動外套(新式)  已下訂

空軍品項狀態不同資料： {'AC1211028000557', 'AC1211029000000'}

                 訂單編號     會員編號_x      商品上架名稱_x  訂單項次  單件項次 品項狀態_x 品項狀態_y
2202  AC1211028000557  F10195125    空軍短袖白色U領內衣     1     1     取消    已下訂
2203  AC1211028000557  F10195125    空軍短袖白色U領內衣     1     2     取消    已下訂
2204  AC1211028000557  F10195125    空軍短袖白色U領內衣     1     3     取消    已下訂
2205  AC1211028000557  F10195125    空軍短袖白色U領內衣     1     4     取消    已下訂
2206  AC1211028000557  F10195125    空軍紅外線長袖保暖衣     2     1     取消    已下訂
2207  AC1211028000557  F10195125    空軍紅外線長袖保暖衣     2     2     取消    已下訂
2227  AC1211029000000  F10174337     空軍半包覆戰術手套     4     1    已下訂    NaN
2228  AC1211029000000  F10174337     空軍天藍兩截式雨衣     5     1    已下訂    NaN
2229  AC1211029000000  F10174337      空軍羊毛防縮手套     1     1    已下訂    NaN
2230  AC1211029000000  F10174337      空軍羊毛防縮手套     1     2    已下訂    NaN
2231  AC1211029000000  F10174337      空軍羊毛防縮手套     1     3    已下訂    NaN
2232  AC1211029000000  F10174337  空軍男性運動長褲(新式)     2     1    已下訂    NaN
2233  AC1211029000000  F10174337  空軍男性運動外套(新式)     3     1    已下訂    NaN

海軍DB資料筆數： 3249 ，去重複筆數： 3249
海軍Daily資料筆數： 3249 ，去重複筆數： 3248
海軍DB筆數較多，相差訂單： {'NC1211028001374'}

                 訂單編號       會員編號   商品上架名稱 品項狀態
1524  NC1211028001374  N10135678  海軍防切割手套   取消

海軍品項狀態不同資料： {'NC1211028001374', 'NC1211028001351', 'NC1211028001236'}

,訂單編號,會員編號_x,商品上架名稱_x,訂單項次,單件項次,品項狀態_x,品項狀態_y
1525,NC1211028001374,N10135678,海軍防切割手套,1,1,取消,NaN
2367,NC1211028001236,N10052329,運動除臭襪,1,1,取消,已下訂
2368,NC1211028001236,N10052329,運動除臭襪,1,2,取消,已下訂
2369,NC1211028001236,N10052329,運動除臭襪,1,3,取消,已下訂
2370,NC1211028001236,N10052329,運動除臭襪,1,4,取消,已下訂
2371,NC1211028001236,N10052329,運動除臭襪,1,5,取消,已下訂
2372,NC1211028001236,N10052329,海軍防切割手套,2,1,取消,已下訂
2373,NC1211028001236,N10052329,海軍防切割手套,2,2,取消,已下訂
2374,NC1211028001236,N10052329,ASICS亞瑟士運動長褲,3,1,取消,已下訂
2375,NC1211028001236,N10052329,ASICS亞瑟士運動外套,4,1,取消,已下訂
2376,NC1211028001236,N10052329,海軍運動鞋-ASICS亞瑟士運動鞋（男）,5,1,取消,已下訂
3081,NC1211028001351,N10055440,機能休閒白襪,1,1,取消,已下訂
3082,NC1211028001351,N10055440,機能休閒白襪,1,2,取消,已下訂
3083,NC1211028001351,N10055440,吸濕排汗圓領內衣（數位虎斑迷彩）,2,1,取消,已下訂
3084,NC1211028001351,N10055440,吸濕排汗圓領內衣（數位虎斑迷彩）,2,2,取消,已下訂
3085,NC1211028001351,N10055440,ASICS亞瑟士運動長褲,3,1,取消,已下訂
3086,NC1211028001351,N10055440,ASICS亞瑟士運動外套,4,1,取消,已下訂

### 2021-10-30

In [3]:
compare_data('10/30', '../../../每日比對/ECSalse211030test_af.csv', '../../ECData_1101101/ECSaleData20211030_airforce.txt'\
             , '../../../每日比對/ECSalse211030test_navy.csv', '../../ECData_1101101/ECSaleData20211030_navy.txt')

比對 10/30 DB與Daily資料：

空軍DB資料筆數： 2035 ，去重複筆數： 2035
空軍Daily資料筆數： 2035 ，去重複筆數： 2035
空軍DB與Daily筆數相同。
空軍品項狀態皆相同。

海軍DB資料筆數： 4063 ，去重複筆數： 4063
海軍Daily資料筆數： 4063 ，去重複筆數： 4063
海軍DB與Daily筆數相同。
海軍品項狀態不同資料： {'NC1211029000448', 'NC1211029000254', 'NC1211029000627', 'NC1211029000427', 'NC1211029000845', 'NC1211029000083', 'NC1211029000916', 'NC1211029000889', 'NC1211029000399'}

,訂單編號,會員編號_x,商品上架名稱_x,訂單項次,單件項次,品項狀態_x,品項狀態_y
459,NC1211029000083,N10096717,ASICS亞瑟士運動外套,1,1,取消,已下訂
834,NC1211029000254,N10098703,藍毛巾,1,1,取消,已下訂
835,NC1211029000254,N10098703,藍毛巾,1,2,取消,已下訂
836,NC1211029000254,N10098703,藍毛巾,1,3,取消,已下訂
837,NC1211029000254,N10098703,海軍白皮鞋,2,1,取消,已下訂
1265,NC1211029000399,N10055126,ASICS亞瑟士運動外套,1,1,取消,已下訂
1398,NC1211029000427,N20167593,米色毛巾,1,1,取消,已下訂
1399,NC1211029000427,N20167593,米色毛巾,1,2,取消,已下訂
1400,NC1211029000427,N20167593,米色毛巾,1,3,取消,已下訂
1401,NC1211029000427,N20167593,陸戰女士官士兵墨綠船型帽,2,1,取消,已下訂
1445,NC1211029000448,N10157992,ASICS亞瑟士運動長褲,1,1,取消,已下訂
1446,NC1211029000448,N10157992,ASICS亞瑟士運動外套,2,1,取消,已下訂
1895,NC1211029000627,N10137133,海軍官黃船型帽,1,1,取消,已下訂
1896,NC1211029000627,N10137133,階級刺繡肩章（硬式刺繡肩章）海軍一等士官長,2,1,取消,已下訂
2694,NC1211029000845,N10067954,士官兵階級臂章-通資電上士（藏青色）,1,1,取消,已下訂
2695,NC1211029000845,N10067954,海軍男士官領帶夾-銀色,2,1,取消,已下訂
2696,NC1211029000845,N10067954,海軍男士官領帶夾-銀色,2,2,取消,已下訂
2697,NC1211029000845,N10067954,海軍男士官領帶夾-銀色,2,3,取消,已下訂
2698,NC1211029000845,N10067954,船型帽帽花-士官階,3,1,取消,已下訂
2699,NC1211029000845,N10067954,船型帽帽花-士官階,3,2,取消,已下訂
2700,NC1211029000845,N10067954,大帽帽花-士官階帽花,4,1,取消,已下訂
2701,NC1211029000845,N10067954,大帽帽花-士官階帽花,4,2,取消,已下訂
2702,NC1211029000845,N10067954,海軍黃腰帶(含銅頭),5,1,取消,已下訂
2703,NC1211029000845,N10067954,吸濕排汗圓領內衣（白色）,6,1,取消,已下訂
2704,NC1211029000845,N10067954,海軍尉士官黑船型帽,7,1,取消,已下訂
2705,NC1211029000845,N10067954,海軍黑便帽上士,8,1,取消,已下訂
2706,NC1211029000845,N10067954,海軍白皮鞋,9,1,取消,已下訂
3091,NC1211029000889,N20066736,米色毛巾,1,1,取消,已下訂
3092,NC1211029000889,N20066736,吸濕排汗圓領內衣（數位虎斑迷彩）,2,1,取消,已下訂
3093,NC1211029000889,N20066736,緹花浴巾(陸戰隊款),3,1,取消,已下訂
3094,NC1211029000889,N20066736,緹花浴巾(陸戰隊款),3,2,取消,已下訂
3095,NC1211029000889,N20066736,ASICS亞瑟士運動長褲,4,1,取消,已下訂
3096,NC1211029000889,N20066736,ASICS亞瑟士運動外套,5,1,取消,已下訂
3343,NC1211029000916,N20096799,藍毛巾,1,1,取消,已下訂
3344,NC1211029000916,N20096799,藍毛巾,1,2,取消,已下訂
3345,NC1211029000916,N20096799,藍毛巾,1,3,取消,已下訂
3346,NC1211029000916,N20096799,藍毛巾,1,4,取消,已下訂
3347,NC1211029000916,N20096799,運動除臭襪,2,1,取消,已下訂
3348,NC1211029000916,N20096799,運動除臭襪,2,2,取消,已下訂
3349,NC1211029000916,N20096799,運動除臭襪,2,3,取消,已下訂
3350,NC1211029000916,N20096799,ASICS亞瑟士運動長褲,3,1,取消,已下訂
3351,NC1211029000916,N20096799,ASICS亞瑟士運動外套,4,1,取消,已下訂
3352,NC1211029000916,N20096799,海軍女黑平底鞋,5,1,取消,已下訂
3353,NC1211029000916,N20096799,海軍女白平底鞋,6,1,取消,已下訂

### 2021-10-31

In [4]:
compare_data('10/31', '../../../每日比對/ECSalse211031test_af.csv', '../../ECData_1101101/ECSaleData20211031_airforce.txt'\
             , '../../../每日比對/ECSalse211031test_navy.csv', '../../ECData_1101101/ECSaleData20211031_navy.txt')

比對 10/31 DB與Daily資料：

空軍DB資料筆數： 2472 ，去重複筆數： 2472
空軍Daily資料筆數： 2472 ，去重複筆數： 2472
空軍DB與Daily筆數相同。
空軍品項狀態不同資料： {'AC1211030000441', 'AC1211030000587'}

,訂單編號,會員編號_x,商品上架名稱_x,訂單項次,單件項次,品項狀態_x,品項狀態_y
1518,AC1211030000441,F10150937,空軍天藍工作服姓名布條,1,1,取消,已下訂
1519,AC1211030000441,F10150937,空軍天藍工作服姓名布條,1,2,取消,已下訂
2030,AC1211030000587,F10165707,空軍新式平口內褲,1,1,取消,已下訂
2031,AC1211030000587,F10165707,空軍新式平口內褲,1,2,取消,已下訂
2032,AC1211030000587,F10165707,空軍新式平口內褲,1,3,取消,已下訂
2033,AC1211030000587,F10165707,空軍男性運動鞋（第1種優化款）SKECHERS,2,1,取消,已下訂

海軍DB資料筆數： 4274 ，去重複筆數： 4274
海軍Daily資料筆數： 4274 ，去重複筆數： 4274
海軍DB與Daily筆數相同。
海軍品項狀態不同資料： {'NC1211030000543', 'NC1211030000173', 'NC1211030000343'}

                 訂單編號     會員編號_x      商品上架名稱_x  訂單項次  單件項次 品項狀態_x 品項狀態_y
1167  NC1211030000173  N10186293       海軍防切割手套     1     1     取消    已下訂
1168  NC1211030000173  N10186293  ASICS亞瑟士運動長褲     2     1     取消    已下訂
1169  NC1211030000173  N10186293  ASICS亞瑟士運動外套     3     1     取消    已下訂
2016  NC1211030000343  N10112436  ASICS亞瑟士運動長褲     1     1     取消    已下訂
2017  NC1211030000343  N10112436  ASICS亞瑟士運動外套     2     1     取消    已下訂
3176  NC1211030000543  N10156902  ASICS亞瑟士運動外套     1     1     取消    已下訂

### 2021-11-01

In [5]:
compare_data('11/01', '../../../每日比對/ECSalse211101test_af.csv', '../../ECData_1101101/ECSaleData20211101_airforce.txt'\
             , '../../../每日比對/ECSalse211101test_navy.csv', '../../ECData_1101101/ECSaleData20211101_navy.txt')

比對 11/01 DB與Daily資料：

空軍DB資料筆數： 2468 ，去重複筆數： 2468
空軍Daily資料筆數： 2468 ，去重複筆數： 2468
空軍DB與Daily筆數相同。
空軍品項狀態皆相同。

海軍DB資料筆數： 2956 ，去重複筆數： 2956
海軍Daily資料筆數： 2956 ，去重複筆數： 2956
海軍DB與Daily筆數相同。
海軍品項狀態不同資料： {'NC1211031000455'}

                 訂單編號     會員編號_x      商品上架名稱_x  訂單項次  單件項次 品項狀態_x 品項狀態_y
2785  NC1211031000455  N10034371  吸濕排汗圓領內衣（白色）     1     1     取消    已下訂
2786  NC1211031000455  N10034371  吸濕排汗圓領內衣（白色）     1     2     取消    已下訂
2787  NC1211031000455  N10034371          運動外套     2     1     取消    已下訂
2788  NC1211031000455  N10034371         海軍黑皮鞋     3     1     取消    已下訂

### 2021-11-02

In [6]:
compare_data('11/02', '../../../每日比對/ECSalse211102test_af.csv', '../../ECData_1101102/ECSaleData20211102_airforce.txt'\
             , '../../../每日比對/ECSalse211102test_navy.csv', '../../ECData_1101102/ECSaleData20211102_navy.txt')

比對 11/02 DB與Daily資料：

空軍DB資料筆數： 2832 ，去重複筆數： 2832
空軍Daily資料筆數： 2831 ，去重複筆數： 2831
空軍DB筆數較多，相差訂單： {'AC1211027000310'}

               訂單編號       會員編號    商品上架名稱 品項狀態
61  AC1211027000310  F10167410  空軍數位迷彩長褲   取消
62  AC1211027000310  F10167410  空軍數位迷彩長褲   取消

空軍品項狀態不同資料： {'AC1211027000450', 'AC1211027000310'}

                 訂單編號     會員編號_x  商品上架名稱_x  訂單項次  單件項次 品項狀態_x 品項狀態_y
61    AC1211027000310  F10167410  空軍數位迷彩長褲     4     1     取消    NaN
62    AC1211027000310  F10167410  空軍數位迷彩長褲     4     2     取消    NaN
2832  AC1211027000450        NaN       NaN     1     1    NaN     取消

海軍DB資料筆數： 3723 ，去重複筆數： 3723
海軍Daily資料筆數： 3725 ，去重複筆數： 3725
海軍DB筆數較少，相差訂單： {'210720007384'}

           訂單編號       會員編號        商品上架名稱 品項狀態
6  210720007384  N10114172    海軍官黃下褲(量制)   取消
7  210720007384  N10114172  海軍官黃短袖上衣(量制)   取消

海軍品項狀態不同資料： {'210720007384'}

              訂單編號 會員編號_x 商品上架名稱_x  訂單項次  單件項次 品項狀態_x 品項狀態_y
3723  210720007384    NaN      NaN     2     1    NaN     取消
3724  210720007384    NaN      NaN     3     1    NaN     取消

## 2021-11-03

In [7]:
compare_data('11/03', '../../../每日比對/ECSalse211103test_af.csv', '../../ECData_1101103/ECSaleData20211103_airforce.txt'\
             , '../../../每日比對/ECSalse211103test_navy.csv', '../../ECData_1101103/ECSaleData20211103_navy.txt')

比對 11/03 DB與Daily資料：

空軍DB資料筆數： 2839 ，去重複筆數： 2839
空軍Daily資料筆數： 2839 ，去重複筆數： 2839
空軍DB與Daily筆數相同。
空軍品項狀態不同資料： {'AC1211102000574'}

                 訂單編號     會員編號_x      商品上架名稱_x  訂單項次  單件項次 品項狀態_x 品項狀態_y
2361  AC1211102000574  F10175189      空軍新式平口內褲     1     1     取消    已下訂
2362  AC1211102000574  F10175189  空軍男性運動短褲(新式)     2     1     取消    已下訂
2363  AC1211102000574  F10175189  空軍男性運動外套(新式)     3     1     取消    已下訂
2364  AC1211102000574  F10175189       空軍男性運動鞋     4     1     取消    已下訂

海軍DB資料筆數： 4584 ，去重複筆數： 4584
海軍Daily資料筆數： 4584 ，去重複筆數： 4584
海軍DB與Daily筆數相同。
海軍品項狀態皆相同。

## 2021-11-04

In [8]:
compare_data('11/03', '../../../每日比對/ECSalse211104test_af.csv', '../../ECData_1101104/ECSaleData20211104_airforce.txt'\
             , '../../../每日比對/ECSalse211104test_navy.csv', '../../ECData_1101104/ECSaleData20211104_navy.txt')

比對 11/03 DB與Daily資料：

空軍DB資料筆數： 8296 ，去重複筆數： 8296
空軍Daily資料筆數： 8326 ，去重複筆數： 8296
空軍DB與Daily筆數相同。
空軍品項狀態不同資料： {'AC1211103000347', 'AC1211104000000', 'AC1211103000195'}

,訂單編號,會員編號_x,商品上架名稱_x,訂單項次,單件項次,品項狀態_x,品項狀態_y
5880,AC1211104000000,F10000371,空軍迷彩服飛鷹領章,1,1,已下訂,NaN
5881,AC1211104000000,F10000371,空軍長袖衛生衣,2,1,已下訂,NaN
5882,AC1211104000000,F10000371,空軍長袖衛生衣,2,2,已下訂,NaN
5883,AC1211104000000,F10000371,空軍新式平口內褲,3,1,已下訂,NaN
5884,AC1211104000000,F10000371,空軍短袖白色U領內衣,4,1,已下訂,NaN
5885,AC1211104000000,F10000371,空軍男性運動短褲(新式),5,1,已下訂,NaN
5886,AC1211104000000,F10000371,空軍抗靜電連身工作服,6,1,已下訂,NaN
6477,AC1211103000347,F20000085,空軍女性運動鞋,1,1,取消,已下訂
6478,AC1211103000347,F20000085,空軍女性運動鞋（第2種優化款）SKECHERS,2,1,取消,已下訂
8390,AC1211103000195,NaN,NaN,1,1,NaN,已下訂
8391,AC1211103000195,NaN,NaN,2,1,NaN,已下訂
8392,AC1211103000195,NaN,NaN,2,2,NaN,已下訂
8393,AC1211103000195,NaN,NaN,3,1,NaN,已下訂
8394,AC1211103000195,NaN,NaN,4,1,NaN,已下訂
8395,AC1211103000195,NaN,NaN,5,1,NaN,已下訂
8396,AC1211103000195,NaN,NaN,6,1,NaN,已下訂

海軍DB資料筆數： 13439 ，去重複筆數： 13439
海軍Daily資料筆數： 13474 ，去重複筆數： 13439
海軍DB與Daily筆數相同。
海軍品項狀態不同資料： {'NC1211103000885'}

                  訂單編號     會員編號_x 商品上架名稱_x  訂單項次  單件項次 品項狀態_x 品項狀態_y
12045  NC1211103000885  N10141827  海軍超纖野戰靴     1     1     取消    已下訂